#logo {
    position: fixed;
    right: 30px;
    top: 10px;
    z-index: 100000;
    color: grey;
}

.table-check-item {
    width: 30px;
}

.table-type-item {
    width: 50px;
}

.table-size-item {
    width: 90px;
}

.table-time-item {
    width: 160px;
}

.fixed-top {
    background:#fff;
    padding-bottom: 10px;
    margin-left:
}

.list-container {
    margin-top: 120px; 
    margin-bottom: 10px;
}