<div class="content container">
  <div class="list-container">
    <ul class="list-group">
      <li class="list-group-item">
        <div class="d-flex justify-content-between">
          <div class="d-flex">
            <div class="table-header table-check-item"><input class="selectAll" type="checkbox" /></div>
            <div class="table-header table-type-item">Type</div>
            <div class="table-header table-name-item">Name</div>
          </div>
          <div class="d-flex justify-content-end">
            <div class="table-header table-size-item">Size</div>
            <div class="table-header table-time-item">Time</div>
          </div>
        </div>
      </li>
      <% files.forEach(function(file) { %>
      <li class="list-group-item">
        <div class="d-flex justify-content-between file-row">
          <div class="d-flex">
            <div class="table-check-item"><input class="select" type="checkbox" /></div>
            <div class="table-type-item">
              <span class="oi <%= file.type %>" title="<%= file.type %>" aria-hidden="true" style="margin-left:10px;"></span>
            </div>
            <div class="table-name-item"><a href="<%= file.path %>">
              <%= file.name %></a>
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <div class="table-size-item">
              <%= file.isDir ? '' : file.size %>
            </div>
            <div class="table-time-item">
              <%= file.time %>
            </div>
          </div>
        </div>
      </li>
      <% }) %>
    </ul>
  </div>
  <script>
;(function ($, window, document) {
  function updateButtonsStatus() {
    let fileCount = 0,
      dirCount = 0
    $('.file-row').each(function () {
      if ($(this).find('input').is(':checked')) {
        console.log($(this).find('a').text())
        if ($(this).find('.oi').hasClass('oi-document')) {
          fileCount++
        } else {
          dirCount++
        }
        $('.frompath').val($(this).find('a').attr('href'))
      }
    })
    $('#download').prop('disabled', dirCount > 0 || fileCount === 0)
    $('#delete').prop('disabled', dirCount === 0 && fileCount === 0)
    $('#move').prop('disabled', (dirCount + fileCount) !== 1)
    $('#archive').prop('disabled', dirCount === 0 && fileCount === 0)
  }

  $('.selectAll').change(function () {
    const checked = $(this).is(':checked')
    $('.select').each(function (i) {
      $(this).prop('checked', checked)
    })
    updateButtonsStatus();
  })
  $('.select').change(updateButtonsStatus)
  updateButtonsStatus()

  function getSelectFiles() {
    let selectFiles = []
    $('.file-row').each(function () {
      if ($(this).find('input').is(':checked')) {
        selectFiles.push($(this).find('a').attr('href'))
      }
    })
    return selectFiles
  }

  function download(name, url) {
    var aDom = document.createElement('a')
    var evt = document.createEvent('HTMLEvents')
    evt.initEvent('click', false, false)
    aDom.download = name
    aDom.href = url
    aDom.dispatchEvent(evt)
    aDom.click()
  }

  $('#download').click(function () {
    $('.file-row').each(function () {
      if ($(this).find('input').is(':checked')) {
        const a = $(this).find('a')
        download(a.text(), a.attr('href'))
      }
    })
  })

  $('#delete').click(function () {
    if (confirm('确定要删除选中的文件吗？')) {
      const selectFiles = getSelectFiles()
      if (selectFiles.length) {
        fetch('/delete', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(selectFiles)
        }).then(function () {
          location.reload()
        }).catch(function (err) {
          alert(err)
        })
      }
    }
  })

  $('#move').click(function () {
    let frompath = $('.frompath').val()
    $('#moveInput').val(frompath.replace(/\\/g, '/'))
    return true
  })

  $('#rename').click(function () {
    let name = $('.frompath').val()
    let start = (name.lastIndexOf('\\') >= 0 ? name.lastIndexOf('\\') : name.lastIndexOf('/')) + 1
    $('#renameInput').val(name.substr(start))
    return true
  })

  $('.sort-item').click(function () {
    const defaultSort = $('.default-sort').text().trim();
    const curSort = $(this).text().trim()
    if (defaultSort == curSort) {
      let url = $(this).attr('href').toLowerCase()
      if (url.includes('o=desc')) {
        $(this).attr('href', url.replace("o=desc", 'o=asc'))
      } else if (url.includes('o=asc')) {
        $(this).attr('href', url.replace("o=asc", 'o=desc'))
      }
    }
    return true
  })

  $('#archive').click(function () {
    $('#pathlist').val(JSON.stringify(getSelectFiles()))
    $('#archiveInput').val('files-' + new Date().toISOString().replace(/:/g, '') + '.zip')
    return true
  })
  $('#archiveOk').click(function () {
    $('#archiveSubmit').click()
  })
  $('#moveOk').click(function () {
    $('#moveSubmit').click()
  })
  $('#newOk').click(function () {
    $('#newSubmit').click()
  })
  $('#uploadOk').click(function () {
    $('#uploadSubmit').click()
  })
})(jQuery, window, window.document);
  </script>
</div>
