<div class="content container">
  <div class="list-container">
    <ul class="list-group">
      <li class="list-group-item">
        <div class="d-flex justify-content-between">
          <div class="d-flex">
            <div class="table-header table-check-item"><input class="selectAll" type="checkbox" /></div>
            <div class="table-header table-type-item">Type</div>
            <div class="table-header table-name-item">Name</div>
          </div>
          <div class="d-flex justify-content-end">
            <div class="table-header table-size-item">Size</div>
            <div class="table-header table-time-item">Time</div>
          </div>
        </div>
      </li>
      <% files.forEach(function(file) { %>
      <li class="list-group-item">
        <div class="d-flex justify-content-between file-row">
          <div class="d-flex">
            <div class="table-check-item"><input class="select" type="checkbox" /></div>
            <div class="table-type-item">
              <span class="oi <%= file.type %>" title="<%= file.type %>" aria-hidden="true" style="margin-left:10px;"></span>
            </div>
            <div class="table-name-item">
              <a href="<%= file.path %>">
                <span><%= file.name %></span>
              </a>
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <div class="table-size-item">
              <%= file.isDir ? '' : file.size %>
            </div>
            <div class="table-time-item">
              <%= file.time %>
            </div>
          </div>
        </div>
      </li>
      <% }) %>
    </ul>
  </div>
  <script src="/js/index.js"></script>
</div>
