<div>
  <ul class="list-group">
    <li class="list-group-item">
        <div class="row">
            <div class=""><input type="checkbox" /></div>
            <div class="col-auto">Type</div>
            <div class="col-auto mr-auto">Name</div>
            <div class="col-auto" style="margin-right:20px;">Size</div>
            <div class="col-auto" style="margin-right:125px;">Time</div>
          </div>
    </li>
    <% files.forEach(function(file) { %>
      <li class="list-group-item">
        <div class="row">
          <div class=""><input type="checkbox" /></div>
          <div class="col-auto">
              <span class="oi oi-document" title="icon name" aria-hidden="true" style="margin-left:10px;margin-right:10px;"></span>
          </div>
          <div class="col-auto mr-auto"><a href="https://ningto.com"><%= file.name %></a></div>
          <div class="col-auto">48.6669KB</div>
          <div class="col-auto">2018/1/18 下午5:16:46</div>
        </div>
      </li>
    <% }) %>
  </ul>
</div>
