<% include moveModal.html %>
<% include renameModal.html %>
<% include uploadModal.html %>
<% include newModal.html %>
<div class="container row" style="margin-top: 60px; margin-bottom: 10px;">
    <div class="col-auto mr-auto">
        <button type="button" class="btn btn-secondary" id="download">Download</button>
        <button type="button" class="btn btn-danger" id="delete">Delete</button>
        <button type="button" class="btn btn-secondary" id="move" data-toggle="modal" data-target="#moveModal">Move</button>
        <button type="button" class="btn btn-secondary" id="rename" data-toggle="modal" data-target="#renameModal">Rename</button>
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-primary" id="upload" data-toggle="modal" data-target="#uploadModal">Upload</button>
      <button type="button" class="btn btn-primary" id="new" data-toggle="modal" data-target="#newModal">New Folder</button>
    </div>
    <div class="dropdown col-auto">
      <button class="btn btn-secondary dropdown-toggle default-sort" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= sort.defaultSort %>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <% sort.list.forEach(function(item) { %>
          <a class="dropdown-item sort-item" href="<%= item.href %>"><%= item.name %></a>
        <% }) %>
      </div>
    </div>
  </div>
<div>
  <ul class="list-group">
    <li class="list-group-item">
        <div class="row">
            <div class="" style="margin-left: 20px"><input class="selectAll" type="checkbox" /></div>
            <div class="col-auto">Type</div>
            <div class="col-auto mr-auto">Name</div>
            <div class="col-sm-1">Size</div>
            <div class="col-sm-3">Time</div>
          </div>
    </li>
    <% files.forEach(function(file) { %>
      <li class="list-group-item">
        <div class="row file-row" isdir=<%= file.isDir %> >
          <div class="" style="margin-left: 20px"><input class="select" type="checkbox" /></div>
          <div class="col-auto">
            <span class="oi <%= file.type %>" title="<%= file.type %>" aria-hidden="true" style="margin-left:10px;"></span>
          </div>
          <div class="col-auto mr-auto"><a href="<%= file.path %>"><%= file.name %></a></div>
          <div class="col-sm-1"><%= file.size %></div>
          <div class="col-sm-3"><%= file.time %></div>
        </div>
      </li>
    <% }) %>
  </ul>
</div>
