<div class="container row" style="margin-top: 60px; margin-bottom: 10px;">
    <div class="col-auto mr-auto">
        <button type="button" class="btn btn-secondary" id="download">Download</button>
        <button type="button" class="btn btn-danger" id="delete">Delete</button>
        <button type="button" class="btn btn-secondary" id="move">Move</button>
        <button type="button" class="btn btn-secondary" id="rename">Rename</button>
    </div>
    <div class="col-auto">
      <% include uploadModal.html %>
      <% include newModal.html %>
      <button type="button" class="btn btn-primary" id="upload" data-toggle="modal" data-target="#uploadModal">Upload</button>
      <button type="button" class="btn btn-primary" id="new" data-toggle="modal" data-target="#newModal">New Folder</button>
    </div>
  </div>

<div>
  <ul class="list-group">
    <li class="list-group-item">
        <div class="row">
            <div class="" style="margin-left: 20px"><input class="selectAll" type="checkbox" /></div>
            <div class="col-auto">Type</div>
            <div class="col-auto mr-auto">Name</div>
            <div class="col-sm-1">Size</div>
            <div class="col-sm-3">Time</div>
          </div>
    </li>
    <% files.forEach(function(file) { %>
      <li class="list-group-item">
        <div class="row file-row" isdir=<%= file.isDir %> >
          <div class="" style="margin-left: 20px"><input class="select" type="checkbox" /></div>
          <div class="col-auto">
            <span class="oi <%= file.type %>" title="<%= file.type %>" aria-hidden="true" style="margin-left:10px;"></span>
          </div>
          <div class="col-auto mr-auto"><a href="<%= file.path %>"><%= file.name %></a></div>
          <div class="col-sm-1"><%= file.size %></div>
          <div class="col-sm-3"><%= file.time %></div>
        </div>
      </li>
    <% }) %>
  </ul>
</div>
